<config>
	<skipInstallModules>eshopapp</skipInstallModules>
	<LANGUAGE_ID>en</LANGUAGE_ID>
	<INSTALL_CHARSET>UTF-8</INSTALL_CHARSET>
    <productName>BizNet Business</productName>  
    <welcomeText>Welcome to BizNet</welcomeText>  
    <imageLogoSrc>..</imageLogoSrc>  
    <imageBoxSrc>..</imageBoxSrc>  
    <copyrightText>BiznEy By Building Bridge</copyrightText>  
    <supportText>https://biznet.buildingbridge.com</supportText>  
</config>
